.buttons {
  width: 10rem;
  height: 6rem;
  margin: 0 0 40px 2px;
  padding: 0;
  border: 0;
  background: #eeeeee;
  border-radius: 5px;

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    img {
      width: 1.8rem;
      margin-top: 10px;
    }
  }
}
.buttons:active {
  background: #ff7000;
  color: #ffffff;
}
